/* overwrite jQuery Mobile styles on tablet and large screens */
@media (min-width: 760px) {
  .ui-body{
    width: 70%;
    float: right;
  }
  .ui-dialog, .ui-mobile [data-role=dialog]{
    display: block;
    width: 28%;
    float: right;
    position: relative;
  }
  #moreinfo{
    display: none;
  }
}