html, body, #map, .ui-body, .ui-page{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #000;
}
.nowrap{
  white-space: nowrap !important;
  font-size: 16px !important;
}
.ui-dialog{
  text-transform: none;
}
.ui-header>.ui-btn{
  display: none;
}
.ui-dialog h2{
  text-transform: capitalize;
}
#directions_readout .ui-header>.ui-btn, #show_my_officials .ui-header>.ui-btn{
  display: inline-block;
}
#moreinfo{
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  min-width: 40%;
  left: 25%;
  font-size: 16pt; 
}
#moreinfo_screen{
  display: none;
}
#fromhere{
  float: right;
}
.ui-body-a, .ui-overlay-a #map{
  text-shadow: none;
}
#officials-btn, #officials-btn-inner{
  display: none;
}
#searchbutton{
  display: none;
}
#restartsearch{
  width: 50%;
  font-weight: normal;
}
#restartsearch .ui-btn-inner{
  padding: 0.2em 6px;
}
#betalogo{
  display: none;
  position:absolute;
  bottom:20px;
  left:50px;
  text-align: center;
}
#betalogo img{
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
#betalogo a{
  text-decoration: none;
  color: orange;
  font-family: Helvetica,Arial,sans-serif;
}
#betalogo a:hover{
  text-decoration: underline;
}
#betalogo a img{
  text-decoration: none !important;
}
#feedback{
  display: none;
  position: absolute;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
#mobilefeedback{
  color: orange;
}
#transitmodebutton{
  display: none;
}
#transitmodebutton button{
  box-shadow:inset 0px 1px 0px 0px #fed897;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
  background-color:#f6b33d;
  border-radius:20px;
  text-indent:0;
  border:1px solid #eda933;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:131px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cd8a15;
}
#transitmodebutton button:hover {
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
  background-color:#d29105;
}
#transitmodebutton button:active {
  position:relative;
  top:1px;
}