html, body, #map, .ui-body, .ui-page{
  height: 100%;
  width: 100%;
  overflow: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #000;
}
.nowrap{
  white-space: nowrap !important;
}
.ui-dialog{
  text-transform: none;
}
.ui-header>.ui-btn{
  display: none;
}
#directions_readout{
  overflow-y: scroll;
}
#directions_readout .ui-header>.ui-btn{
  display: inline-block;
}
#moreinfo{
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  min-width: 40%;
  left: 25%;
  font-size: 16pt; 
}
#moreinfo_screen{
  display: none;
}
#fromhere{
  float: right;
}