html, body, #map, .ui-page-active, .ui-body{
  height: 100%;
  width: 100%;
  overflow: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.nowrap{
  white-space: nowrap !important;
}
.ui-input-search{
  width: 80%;
}
#moreinfo{
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  min-width: 40%;
  left: 25%;
  /*background: #ddd;
  border: 2px solid #000;
  border-radius: 12px;
  text-align: center;
  padding: 15px;*/
  font-size: 16pt; 
}